<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangzhiwen.armour">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name">
        
        <activity android:name=".proxy.ArmourActivity" />

        <service android:name=".proxy.ArmourService" />

        <provider
            android:name=".proxy.ArmourContentProvider"
            android:authorities="com.yangzhiwen.armour"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>