<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangzhiwen.armour">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <service android:name=".ArmourService" />

        <provider
            android:name=".ArmourContentProvider"
            android:authorities="com.yangzhiwen.armour"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>